<div class="m-2">
  <h1 class="text-xl text-blue-600 font-semibold text-center">Material Angular</h1>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  <div class="p-4 flex justify-center space-x-2 content-center items-center">
    <mat-form-field>
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]="nome">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Você digitou: {{nome}}</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="submeter()">Enviar</button>
  </div>
</div>